<% layout('layout/boilerplate') %>
<h1>Welcome to the Grocery List App!</h1>
<p>Making an accurate grocery list can be difficult.  It's easy to overlook something you don't have because the empty carton has been thrown away and it was never written down on the shopping list.</p>
<p>Grocery List aims to solve this problem.  Once initial set up is completed, you can quickly and accurately create shopping lists.</p>
<p>1. Create categories and sub-categories for the locations where items are stored in your house.  Example: Category: Fridge with Sub-Category: Vegetable Drawer or Category: Pantry with Sub-Category: Bottom Shelf</p>
<p>2. Make sure categories are ordered in a logical order based on where they are located.</p>
<p>3. Add all the items that you want to keep on hand, making sure you set the category and sub-category based on where they are stored.</p>
<p>4. When it is time to do a shopping run, use Grocery List to reference your master list and go through your categories and check if you are low or out of anything.</p>
<p>5. When you have finished creating your list, go to Lists to view it and start shopping.</p>
<p>6. Whew! Another shopping trip in the books!</p>
<img src="https://unsplash.com/photos/D6Tu_L3chLE/download?ixid=M3wxMjA3fDB8MXxzZWFyY2h8M3x8Z3JvY2VyeXxlbnwwfHx8fDE3NjAzMDA0Njd8MA&force=true&w=640" alt="Vegetable aisle at a grocery store" class="img-fluid">