<% layout('layout/boilerplate') %>
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>My Lists</h1>
    <button class="btn btn-primary">Create New List</button>
</div>
<% for(const list of lists) {%>
    <div>
        <p>List created on: <%= list.dateCreated.toDateString() %></p>
        <ul>
            <% for(const item of list.items) { %>
                <li><%= item.name %></li>
            <% } %>
        </ul>
    </div>
<% } %>