<% layout('/layout/boilerplate') %>
<a href="/categories" class="btn btn-sm btn-outline-primary my-3">Back</a>
<h1>New Subcategory</h1>
<form action="/subcategories" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Subcategory Name</label>
        <input type="text" class="form-control" id="name" name="subCategory[name]">
    </div>
    <div class="mb-3">
        <label for="category" class="form-label">Parent Category</label>
        <select class="form-select" id="category" name="subCategory[category]">
            <% for (let category of categories) { %>
                <option value="<%= category._id %>" <% if (category._id == selectedCategory) { %>selected<% } %>><%= category.name %></option>
            <% } %>
        </select>
    </div>
    <button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
    <button type="submit" class="btn btn-outline-primary" name="action" value="save-and-add-another">Save and add another</button>
</form>
