<% layout('/layout/boilerplate') %>
<a href="/categories" class="btn btn-sm btn-outline-primary my-3">Back</a>
<form action="/categories" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Category Name</label>
        <input type="text" class="form-control" id="name" name="category[name]">
    </div>
    <button type="submit" class="btn btn-primary">Create Category</button>
</form>