<% layout('/layout/boilerplate') %>
<a href="/categories" class="btn btn-sm btn-outline-primary my-3">Back</a>
<h1>New Category</h1>
<form action="/categories" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Category Name</label>
        <input type="text" class="form-control" id="name" name="category[name]">
    </div>
    <button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
    <button type="submit" class="btn btn-outline-primary" name="action" value="save-and-add-another">Save and add another</button>
</form>