<% layout('/layout/boilerplate') %>
<a href="/items" class="btn btn-sm btn-outline-primary my-3">Back</a>
<h1>Edit item</h1>
<form action="/items/<%= item._id %>?_method=PUT" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Item Name</label>
        <input type="text" class="form-control" id="name" name="item[name]" value="<%= item.name %>">
    </div>
    <button type="submit" class="btn btn-primary">Update Item</button>
</form>
<form action="/items/<%= item._id %>?_method=DELETE" method="POST" class="mt-3">
    <button type="submit" class="btn btn-danger">Delete Item</button>
</form>