<% layout('/layout/boilerplate') %>
<form action="/items" method="POST">
    <div class="mb-3">
        <label for="name" class="form-label">Item Name</label>
        <input type="text" class="form-control" id="name" name="item[name]">
    </div>
    <div class="mb-3">
        <label for="order" class="form-label">Order</label>
        <input type="number" class="form-control" id="order" name="item[order]">
    </div>
    <button type="submit" class="btn btn-primary">Create Item</button>
</form>