<% layout('/layout/boilerplate') %>
<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Master Lists</h1>
    <a href="/items/new" class="btn btn-primary">Add New Item</a>
</div>

<% for ( let item of items) { %>
    <a class="d-block link-offset-2 link-underline link-underline-opacity-0" href="/items/<%= item._id %>/edit"><%= item.name %></a>
<% } %>


